DB_HOST=mssql
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=tu_password_aqui
DB_NAME=HistorialCursos
SA_PASSWORD=tu_password_sql_server
GO_BASE_PATH=go-dev.finneg.com
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
NEXUS_USER=User nexus
NEXUS_PASSWORD=Password nexus